*{ display: inline;
    background-color: #1A1A1A;
    margin-top: 5px;
}

div{
    display: inline;

}

.title{
    display: inline, flex;
    position: fixed;
    top: 5px;
    left: 15px;
    flex-direction: row;
    color: antiquewhite;
    font-family: "ocr-a-std" ;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 62px;
    min-height: 66px;
    min-width: 302px;
    white-space: nowrap;
}

.canvasmover{
    top: 5000px;
    left: 5000px;
}
/*{
    display: flex;
    position: fixed;
    margin: auto;
    left: 50%;
    bottom: 10px;
    transform: rotate(90deg);
    height: 75px;
    width: 75px;
}